<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="$description">
	<meta name="keywords" content="mavulp, development, programming">
	<meta name="author" content="$author">
	<meta itemprop="image" content="$root/img/metaicon.png">
	<meta name="viewport" content="width=800, initial-scale=1.0">

	<title>Mavulp</title>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@mavulp">
	<meta name="twitter:creator" content="@mavulp">
	<meta name="twitter:title" content="Mavulp">
	<meta name="twitter:description" content="$description">
	<meta name="twitter:image" content="$url/img/metaicon.png">
	<meta name="twitter:domain" content="$url">
	<meta name="twitter:url" content="$url">
	<meta property="og:url" content="$url">

	<link rel="shortcut icon" href="$root/img/icon.png" type="image/x-icon">
	<link rel="icon" href="$root/img/icon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="$root/img/apple-icon.png">

	<link rel="stylesheet" type="text/css" href="$root/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
	<script src="$root/js/main.js" type="text/javascript"></script>
	<script src="$root/js/smoothscroll.js" type="text/javascript"></script>
	$analytics{[[UA-46439485-10]]}
</head>

<body>
	<!-- We do not need a navigation bar on the landing page.-->
	<div class="background blur noselect"></div>
	<div class="landing noselect" id="top">
		<!-- We're leaving this out for now. Makes things more presentable. -->
		<img class="noselect" src="$root/img/metaicon.png"></img>
		<h1 class="noselect">MAVULP</h1>
	</div>
	<div class="content centered">
		<!--Input file content goes here. Keep in mind that the input file is already loaded meaning the frontmatter adjusted variables are already set.-->
		$body
	</div>
	<div class="container centered">
		<!-- TODO Pages are currently manually set here. Should be done from the input file. -->
		<h1>Pages</h1>
		<p>The following pages belong to mavulp.com and contain content and posts written by members</p>
		<ul>
			<li><a href="$root/pages/site-launch">Site Launch</a></li> |
			<li><a href="$root/pages/formatting-guide">Formatting Guide</a></li> |
			<li><a href="$root/pages/terms-and-conditions">Terms &amp; Conditions</a></li>
		</ul>
		<div class="line"></div>
		<h1>External Pages</h1>
		<p>Team projects and pages hosted as subdomains of mavulp.com</p>
		<ul>
			<li><a href="https://roflbox.mavulp.com">Roflbox</a></li>
		</ul>
	</div>
	<div class="container centered">
		<!-- TODO Members are currently manually set here. Should be done from the input file. -->
		<h1>Members</h1>
		<a href="https://twitter.com/catplease">
			<img class="profile shadow" alt="catlinman" title="catlinman" src="$root/img/profiles/catlinman.jpg"></img>
		</a>
		<a href="https://twitter.com/jokler">
			<img class="profile shadow" alt="jokler" title="jokler" src="$root/img/profiles/jokler.jpg"></img>
		</a>
	</div>
	<div class="container centered">
		<h1>Twitter feeds</h1>
		<ul>
			<li>
				<a class="twitter-timeline" data-lang="en" data-width="350" data-height="600" data-theme="dark" data-chrome="noscrollbar noheader nofooter noborders transparent" href="https://twitter.com/mavulp">Mavulp Announcements</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</li>
			<li>
				<a class="twitter-timeline" data-lang="en" data-width="350" data-height="600" data-theme="dark" data-chrome="noscrollbar noheader nofooter noborders transparent" href="https://twitter.com/catplease/lists/mavulp-developers">Mavulp Members</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</li>
		</ul>
		<div class="line"></div>
		<div class="toplink"><a href="#top">Back to top</a></div>
	</div>
	<footer>
		<!--A little content section with slight changes in styling from normal content. Contains a set of links and copyright notice.-->
		<p>&copy; Mavulp 2016</p>
		<p><a href="$root/pages/terms">Terms &amp; Conditions</a> | <a href="https://github.com/catlinman/mavulp.com">Site source code</a>
			<p>Last build ($version) on $generate_date</p>
	</footer>
</body>

</html>
</footer>
</body>

</html>
