<!DOCTYPE HTML>
<html lang="en">

$render{"templates/snippets/head"}

<body>
	<div class="background blur noselect"></div>
	<div class="background-details noselect"></div>
	<!-- We do not need a navigation bar on the landing page.-->
	<div class="landing noselect" id="top">
		<div class="logo noselect"></div>
		<h1 class="noselect">MAVULP</h1>
	</div>
	<div class="content centered">
		<!--Input file content goes here. Keep in mind that the input file is already loaded meaning the frontmatter adjusted variables are already set.-->
		$body
	</div>
	<div class="container centered">
		<ul>
			<li style="width: 350px">
				<h1>Pages</h1>
				<p>The following pages belong to mavulp.com and contain content written by members</p>
				<ol>
					$if{"pages"}[[ $each{pages, "page"}[[
					<li><a href="/pages/$page">$page</a></li>
					]] ]]
				</ol>
			</li>
			<li>
				<div class="vertical-line" style="height: 220px;"></div>
			</li>
			<li style="width: 350px">
				<h1>External Pages</h1>
				<p>Team projects and pages hosted standalone or as subdomains of mavulp.com</p>
				<ol>
					$if{"projects"}[[ $each{projects, "page"}[[
					<li><a href="$page">$page</a></li>
					]] ]]
				</ol>
			</li>
		</ul>
	</div>
	<div class="container centered">
		<h1>Members</h1> $if{"members"}[[ $members[[
		<div class="profile">
			<a href="$website">
				<img class="profile-image shadow" alt="$name" title="$name" src="$root/img/profiles/$id.jpg"></img>
			</a>
			<a href="$website">$name</a>
			<p>$role</p>
		</div>
		]] ]]
	</div>
	<div class="content centered">
		<h1>Contact</h1>
		<p>Mavulp is always open to new ideas, projects and members. If you would like to get in contact with us, you can send us an email at the following address.</p>
		<a href="mailto:contact@mavulp.com">$email</a>
		<p>You can also direct any questions and matters concerning the site and group to that address.</p>
	</div>
	<div class="container centered">
		<h1>Twitter feeds</h1>
		<ul>
			<li>
				<a class="twitter-timeline" data-lang="en" data-width="350" data-height="600" data-theme="dark" data-chrome="noscrollbar noheader nofooter noborders transparent" href="https://twitter.com/mavulp">Mavulp Announcements</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</li>
			<li>
				<div class="vertical-line" style="height: 600px;"></div>
			</li>
			<li>
				<a class="twitter-timeline" data-lang="en" data-width="350" data-height="600" data-theme="dark" data-chrome="noscrollbar noheader nofooter noborders transparent" href="https://twitter.com/catplease/lists/mavulp-developers">Mavulp Members</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</li>
		</ul>
		<div class="line"></div>
		<div class="toplink"><a href="#top">Back to top</a></div>
	</div>
	$render{"templates/snippets/footer"}
</body>

</html>
</footer>
</body>

</html>
