<!DOCTYPE HTML>
<html lang="en">

$render{"templates/snippets/head"}

<body>
	<div class="background blur noselect"></div>
	<!-- We do not need a navigation bar on the landing page.-->
	<div class="landing noselect" id="top">
		<img class="noselect" src="/img/metaicon.png"></img>
		<h1 class="noselect">MAVULP</h1>
	</div>
	<div class="content centered">
		<!--Input file content goes here. Keep in mind that the input file is already loaded meaning the frontmatter adjusted variables are already set.-->
		$body
	</div>
	<div class="container centered">
		<ul>
			<li style="width: 350px">
				<h1>Pages</h1>
				<p>The following pages belong to mavulp.com and contain content written by members</p>
				<ol>
					$each{pages, "page"}[[
					<li><a href="/pages/$page">$page</a></li>
					]]
				</ol>
			</li>
			<li>
				<div class="vertical-line" style="height: 220px;"></div>
			</li>
			<li style="width: 350px">
				<h1>External Pages</h1>
				<p>Team projects and pages hosted standalone or as subdomains of mavulp.com</p>
				<ol>
					$if{"members"}[[ $each{projects, "page"}[[
					<li><a href="$page">$page</a></li>
					]] ]]
				</ol>
			</li>
		</ul>
	</div>
	<div class="container centered">
		<h1>Members</h1> $if{"members"}[[ $each{members, "member"}[[
		<a>
			<img class="profile shadow" alt="$member" title="$member" src="$root/img/profiles/$member.jpg"></img>
		</a>
		]] ]]
	</div>
	<div class="container centered">
		<h1>Twitter feeds</h1>
		<ul>
			<li>
				<a class="twitter-timeline" data-lang="en" data-width="350" data-height="600" data-theme="dark" data-chrome="noscrollbar noheader nofooter noborders transparent" href="https://twitter.com/mavulp">Mavulp Announcements</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</li>
			<li>
				<div class="vertical-line" style="height: 600px;"></div>
			</li>
			<li>
				<a class="twitter-timeline" data-lang="en" data-width="350" data-height="600" data-theme="dark" data-chrome="noscrollbar noheader nofooter noborders transparent" href="https://twitter.com/catplease/lists/mavulp-developers">Mavulp Members</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</li>
		</ul>
		<div class="line"></div>
		<div class="toplink"><a href="#top">Back to top</a></div>
	</div>
	$render{"templates/snippets/footer"}
</body>

</html>
</footer>
</body>

</html>
