<!DOCTYPE HTML>
<html lang="en">

$render{"templates/snippets/head"}

<body>
	<div class="background blur noselect"></div>
	$render{"templates/snippets/nav"}
	<header>
		<!--This section contains information that is to be highlighted.-->
		<h1>$title</h1>
		<div class="line"></div>
		<h2>$description</h2>
		<p>Content by <span class="author">$author</span></p>
		<a href="$website">
			<img class="profile shadow" alt="$author" title="$author" src="/img/profiles/$author.jpg"></img>
		</a>
	</header>
	<div class="content">
		<!--Input file content goes here. Keep in mind that the input file is already loaded meaning the frontmatter adjusted variables are already set.-->
		$body
		<div class="line"></div>
		<div class="toplink"><a href="#top">Back to top</a></div>
	</div>
	$render{"templates/snippets/footer"}
</body>

</html>
