<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="$description">
    <meta name="author" content="$author">
    <title>$title</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="$root/css/style.css" rel="stylesheet">
    <script href="$root/js/main.js" type="text/javascript"></script>
    $analytics{[[UA-46439485-10]]}
</head>

<body>
    <nav>
        <!--Navigation bar here with the logo and name on the left and page title on the right.-->
    </nav>
    <header>
        <!--This section contains information that is to be highlighted.-->
    </header>
    $body
    <footer>
        <!--A little content section with slight changes in styling from normal content. Contains a set of links and copyright notice.-->
        $generate_date
    </footer>
</body>

</html>
